<div class="row container-fluid m-0 p-0">
    <h1 class="col-12 text-center" data-cid="{{this._id}}" id="cartId">Carrito: {{this._id}}</h1>
    <div class="text-center">
        <button class="btn btn-primary" id="btnFin">Finalizar Compra</button>
    </div>
    <div class="col-12 d-flex justify-content-center flex-wrap m-0 p-0" id="container">
        {{#each this.products}}
        <div class="card col-4 m-4" style="width: 18rem;">
            <div class="card-body text-center">
                <h4 class="card-subtitle mb-2 text-body-secondary">ID: {{this.product._id}}</h4>
                <h4 class="card-subtitle mb-2 text-body-secondary">ID: {{this.product.title}}</h4>
                <h6 class="card-subtitle mb-2 text-body-secondary">Category: {{this.product.category}}</h6>
                <p class="card-text m-1">Description: {{this.product.description}}</p>
                <p class="card-text m-1">Code: {{this.product.code}}</p>
                <p class="card-text font-weight-bold m-1">Price: {{this.product.price}}</p>
                <p class="card-text m-1">Stock: {{this.product.stock}}</p>
                <p class="card-text m-1">Satus: {{this.product.status}}</p>

                <h3 class="card-title">Quantity: {{this.quantity}}</h3>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/btnFinalizar.js"></script>