<div class="row container-fluid m-0 p-0">
    <div class="col-12 d-flex justify-content-center flex-wrap m-0 p-0 text-center">
        <div class="card col-4 m-4" style="width: 18rem;">
            <h4 class="card-title" id="tarjetaUser" data-cid="{{user.cart._id}}">Bienvenido</h4>
            {{#if user.itsAdmin}}
                <p class="card-subtitle mb-2 text-body-secondary">Email: {{user.email}}</p>
                <p class="card-subtitle mb-2 text-body-secondary">Rol: {{user.role}}</p>
                
            {{else}}
                <p class="card-subtitle mb-2 text-body-secondary">Nombre: {{user.first_name}} {{user.last_name}}</p>
                <p class="card-subtitle mb-2 text-body-secondary">Email: {{user.email}}</p>
                <p class="card-subtitle mb-2 text-body-secondary">Edad: {{user.age}}</p>
                <p class="card-subtitle mb-2 text-body-secondary">Rol: {{user.role}}</p>
                
            {{/if}}
            <a href="/api/users/logout"><button class="btn btn-secondary m-3">Salir</button></a>
        </div>
        
    </div>
    <div class="text-center">
        <button class="btn btn-primary" id="btnCarrito">Ir al Carrito</button>
    </div>
    <h1 class="col-12 text-center">Productos</h1>
    <div class="col-12 d-flex justify-content-center flex-wrap m-0 p-0" id="container">
        {{#each products.payload}}
        <div class="card col-4 m-4" style="width: 18rem;">
            <div class="card-body text-center">
                <h4 class="card-subtitle mb-2 text-body-secondary">ID: {{this._id}}</h4>
                <h5 class="card-title">{{this.title}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Category: {{this.category}}</h6>
                <p class="card-text m-1">Description: {{this.description}}</p>
                <p class="card-text m-1">Code: {{this.code}}</p>
                <p class="card-text font-weight-bold m-1">Price: {{this.price}}</p>
                <p class="card-text m-1">Stock: {{this.stock}}</p>
                <p class="card-text m-1">Satus: {{this.status}}</p>
                <button data-pid="{{this._id}}" class="btn btn-primary postButton">Agregar al Carrito</button>
                
            </div>
        </div>
        
        {{/each}}
    </div>
    <div class="col-12 d-flex justify-content-center flex-wrap m-0 p-0">
        {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}><button class="btn btn-secondary m-3">Anterior</button></a>
        {{/if}}
    
        {{#if products.hasNextPage}}
        <a href={{products.nextLink}} ><button class="btn btn-secondary m-3">Siguiente</button></a>
        {{/if}}
    </div>
    
</div>

<script src="./js/btnProd.js"></script>

